**/dist/**
**/filestoreDB/**
filestoreDB/**
**/project/build/target/**
project/build/target/**
**/project/boot/**
project/boot/**
**/target/**
target/**
**/lib_managed/**
nbproject/**
test-output/**
.redcar
